@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Lato', monospace;
    scroll-behavior: smooth;
}



.lesson-content {
    max-width: 800px; /* Adjust based on preference */
    margin: auto;
    background-color: white; /* Slightly lighter than gray-800 for subtle contrast */
    font-family: 'Roboto', sans-serif; /* Applying Roboto font here */
}

/* Headings */
.content h2, .content h3, .content h4 {
    margin-top: 2em; /* Increased top margin */
    margin-bottom: 1em; /* Increased bottom margin */
    color: black; /* Light blue for better visibility and contrast */
}

.content h2 {
    font-size: 2em;
    border-bottom: 1px solid #4a5568; /* Subtle separator for clarity */
}

.content h3 {
    font-size: 1.75em;
}

.content h4 {
    font-size: 1.5em;
}

/* Lists */
.content ul, .content ol {
    padding-left: 1.5em;
    margin-bottom: 1em; /* Increased bottom margin for lists */
    color: black; /* Lighter color for list text */
}

.content li {
    margin-bottom: 2em; /* Increased bottom margin for list items */
    font-size: 1.1em; /* Slightly larger for readability */
}